* {
  box-sizing: border-box;
}

body {
  background-color: slateblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: ghostwhite;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: aliceblue;
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control svg {
  position: absolute;
  top: 38px;
  right: 10px;
  visibility: hidden;
}

.form-control.success svg.success {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error svg.error {
  visibility: visible;
  color: #e74c3c;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.form button {
  background-color: slateblue;
  border: 2px solid slateblue;
  border-radius: 4px;
  display: block;
  width: 100%;
  color: #f0f0f0;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
}

.form button:hover {
  background-color: slategray;
  border-color: slategray;
}
